@using Microsoft.AspNetCore.Identity
@inject SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager
@inject UserManager<Microsoft.AspNetCore.Identity.IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link text-dark">👤 @UserManager.GetUserName(User)</span>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Logga ut</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
}